<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href='https://fonts.googleapis.com/css?family=Catamaran:400,300' rel='stylesheet' type='text/css'>

        <title>Strata</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

        <script type="text/javascript">
        $(document).ready(function(){
          setTimeout(function(){
            $('#flash').remove();
          }, 5000);
         })
        </script>
    </head>

    <body>
      <%#= link_to image_tag("logo.png", :border => 0, :class => "logo"), root_path %>
      <section class="cd-horizontal-timeline catamaran">
          <%= yield %>
          <div class="timeline">
              <div class="events-wrapper">
                  <div class="events arial-narrow">
                      <ol>
                          <li><a href="#0" data-date="16/01/2016" class="selected"><span class="centered" class="centered"><span class="triangle-down"></span>2016</span></a></li>
                          <li><a href="#0" data-date="28/02/2015"><span class="centered">2015</span></a></li>
                          <li><a href="#0" data-date="20/04/2014"><span class="centered">2014</span></a></li>
                          <li><a href="#0" data-date="20/05/2013"><span class="centered">2013</span></a></li>
                          <li><a href="#0" data-date="09/07/2012"><span class="centered">2012</span></a></li>
                          <li><a href="#0" data-date="09/07/2011"><span class="centered">2011</span></a></li>
                          <li><a href="#0" data-date="09/07/2010"><span class="centered">2010</span></a></li>
                      </ol>
                      <span class="filling-line" aria-hidden="true"></span>
                  </div>
              </div>

              <ul class="cd-timeline-navigation">
                  <li><a href="#0" class="prev inactive">Prev</a></li>
                  <li><a href="#0" class="next">Next</a></li>
              </ul>
          </div>
      </section>

      <script src="js/jquery-2.1.4.js"></script>
      <script src="js/jquery.mobile.custom.min.js"></script>
      <script src="js/main.js"></script> <!-- Resource jQuery -->
    </body>
</html>